@model DOGEOnlineGeneralEditor.Models.ViewModels.UserCollaboratorViewModel
@{
    ViewBag.Title = "AddUserToProject";
}

<div class="small-table-container">
    <div class="doge-header">Add user to project
        <i data-toggle="tooltip" data-placement="bottom" title="Search for Projects" class="glyphicon glyphicon-search" id="glyphicon-users-search"></i><!--
     --><input type="text" id="users-search" class="table-searchbar" placeholder="Search..." /><!--
 --></div>
    <div class="table-container">
        <table id="users-table" class="table">
            @{ Html.RenderPartial("_UserTable", Model); }
        </table>
    </div>
    @Html.ActionLink("Back to project", "Details", "Project", new { id = Model.ProjectID }, null)
</div>

}
@section Scripts 
{
    <script src="~/Scripts/table.js"></script>
}