@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="small-table-container">
    <div class="doge-header">Error.</div>
    <p class="text-danger">I'm sorry It seems this page isn't available.</p>
    <img class="doge-image" src="~/Images/Doge.png" alt="Shibe dog" />
</div>