
@{
    ViewBag.Title = "File Not Found";
}

<div class="small-table-container">
    <div class="doge-header">File not found.</div>
    <p class="text-danger">I'm sorry but the file you were trying to access does not exist anymore.</p>
    <img class="doge-image" src="~/Images/Doge.png" alt="Shibe dog" />
</div>