
@{
    ViewBag.Title = "PageNotFoundError";
}

<h2>PageNotFoundError</h2>



<div class="small-table-container">
    <div class="doge-header">404 - Lost DOGE</div>
    <p class="text-danger">The page you were trying to access was not found.</p>
    <img class="doge-image" src="~/Images/Doge.png" alt="Shibe dog" />
</div>