
@{
    ViewBag.Title = "Project Not Found";
}

<div class="small-table-container">
    <div class="doge-header">Project not found.</div>
    <p class="text-danger">I'm sorry but the project you were trying to access does not exist anymore.</p>
    <img class="doge-image" src="~/Images/Doge.png" alt="Shibe dog" />    
</div>