@{
    ViewData["Title"] = "User Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div>
    <h1>DOGE Online General Editor</h1>
    <p class="front-page-p">
        A simple yet elegant text editor.
        Share text files and projects with your friends or colleagues with ease. See all the changes made to your files, and who is making them, in real time.
        DOGE uses Ace editor, a high performance text editor which supports most shortcuts such as find and replace. Sign up for free and get started on your project!
    </p>
</div>

<div class="banner">
    <button class="signup-button" onclick="window.location.href='/Account/Register'">Sign Up</button>
</div>

<div id="home-editor">
    function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
    }
</div>



<script>
    var editor = ace.edit("home-editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>