@using DOGEOnlineGeneralEditor.Models.ViewModels
@model MyProjectsViewModel
@{
    ViewData["Title"] = "My Projects";
}
<ul class="top-nav">
    <li><a class="active" href="">My Projects</a></li>
    <li><a href="/Workspace/PublicProjects">Public Projects</a></li>
    <li><a href="/Account">My Account</a></li>
</ul>

<ul>
    @foreach (var item in Model.MyProjects)
    {
        <li>@Html.ActionLink(item.Name, "Details", "Project", new { id = item.ProjectID }, null) </li>        
    }
</ul>
<ul>
    @foreach (var item in Model.CollaborationProjects)
    {
        <li>@item.Name</li>
    }
</ul>
<!--ForEach-->


<div class="project-table">
    <input type="text" name="search" placeholder="Search.." id="my-search">
    <button class="project-button">@Html.ActionLink("Create New", "Create", "Project", null, null) </button>
    <button class="project-button">Open Project</button>
    <div class="scroll">
        <table id="myprojcets">
            <tr>
                <th>Name of project</th>
                <th>Number of Files</th>
                <th>Date Created</th>
                <th>Last Edited</th>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
        </table>

    </div>
    <button class="delete-button">Delete Project</button>
</div>

<div class="project-table">
    <div class="scroll">
        <table id="shared-projects">
            <tr>
                <th>Name of project</th>
                <th>Number of Files</th>
                <th>Date Created</th>
                <th>Last Edited</th>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
        </table>
    </div>
    <button class="leave-button">Leave Project</button>
</div>