@using DOGEOnlineGeneralEditor.Models.ViewModels
@model MyProjectsViewModel
@{
    ViewData["Title"] = "My Projects";
}
<ul class="topnav">
    <li><a class="active" href="#home">My Projects</a></li>
    <li><a href="#news">Public Projects</a></li>
    <li><a href="#contact">My Account</a></li>
</ul>

<ul>
    <li>test</li>
    @foreach (var item in Model.MyProjects)
    {
        <li>@item.Name</li>
    }
</ul>
<ul>
    @foreach (var item in Model.CollaborationProjects)
    {
        <li>@item.Name</li>
    }
</ul>
<!--ForEach-->


<div class="projecttable">
    <input type="text" class="search" />
    <button class="projectbutton">Create Project</button>
    <button class="projectbutton">Open Project</button>
    <div class="scroll">
        <table id="myprojcets">
            <tr>
                <th>Name of project</th>
                <th>Number of Files</th>
                <th>Date Created</th>
                <th>Last Edited</th>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
        </table>

    </div>
    <button id="deleteproject">Delete Project</button>
</div>

<div class="projecttable">
    <div class="scroll">
        <table id="sharedprojects">
            <tr>
                <th>Name of project</th>
                <th>Number of Files</th>
                <th>Date Created</th>
                <th>Last Edited</th>
            </tr>
            <tr>
                <td>Kibast</td>
                <td>4</td>
                <td>20/04/2017</td>
                <td>20/04/2017</td>
            </tr>
            <tr>
                <td>Brics</td>
                <td>5</td>
                <td>20/04/2017</td>
                <td>20/04/2016</td>
            </tr>
        </table>
    </div>
    <button id="leaveproject">Leave Project</button>
</div>