@using DOGEOnlineGeneralEditor.Models.ViewModels
@model MyProjectsViewModel
@{
    ViewData["Title"] = "My Projects";
}

@Scripts.Render("~/bundles/jquery")


<div class="doge-header">My Projects  
    <a href="@Url.Action("Create", "Project")"><i data-toggle="tooltip" data-placement="bottom" title="Create Project" class="glyphicon glyphicon-plus-sign"></i></a><!--
 --><i data-toggle="tooltip" data-placement="bottom" title="Search for Projects" class="glyphicon glyphicon-search" id="glyphicon-my-search"></i>
    <input type="text" class="table-searchbar text-box" id="my-search" placeholder="Search..." /> 
</div>
<div class="table-container">
    <table id="my-projects-table" class="table">
        @{ Html.RenderPartial("_ProjectTable", Model.MyProjects); }
    </table>
</div>

<div class="doge-header">Collaboration Projects  
    <i data-toggle="tooltip" data-placement="bottom" title="Search for Projects" class="glyphicon glyphicon-search" id="glyphicon-collaboration-search"></i>
    <input type="text" id="collaboration-search" class="table-searchbar" placeholder="Search..." />
</div>
<div class="table-container">
    <table id="collaboration-projects-table" class="table">
        @{ Html.RenderPartial("_ProjectTable", Model.CollaborationProjects); }
    </table>
</div>


@section Scripts {

    <script src="~/Scripts/table.js"></script>
}