@{
    ViewData["Title"] = "Public Projects";
}
<ul class="topnav">
    <li><a class="active" href="#home">My Projects</a></li>
    <li><a href="#news">Public Projects</a></li>
    <li><a href="#contact">My Account</a></li>
</ul>


<!--ForEach-->


<div class="projecttable">
    <input type="text" class="search" />
    <button class="projectbutton">Create Project</button>
    <button class="projectbutton">Open Project</button>
    <div class="scrollbig">
        <table id="publicprojcets">
            <thead>
                <tr>
                    <th>Name of project</th>
                    <th>Number of Files</th>
                    <th>Date Created</th>
                    <th>Last Edited</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
                <tr>
                    <td>Kibast</td>
                    <td>4</td>
                    <td>20/04/2017</td>
                    <td>20/04/2017</td>
                </tr>
                <tr>
                    <td>Brics</td>
                    <td>5</td>
                    <td>20/04/2017</td>
                    <td>20/04/2016</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>