@using DOGEOnlineGeneralEditor.Models.ViewModels;
@model PublicProjectsViewModel

@{
    ViewData["Title"] = "Public Projects";
}

@Scripts.Render("~/bundles/jquery")

<div class="doge-header">Public Projects  <i class="glyphicon glyphicon-search"></i></div>

<div class="table-container">
    <table id="public-projects-table" class="table">
        @{ Html.RenderPartial("_ProjectTable", Model.PublicProjects); }
    </table>
</div>