:root {
    
    
    
    --main-white: #f4f4f4;
    --light-of-gray: #d5d5d5;
    --main-hd-black: #222;
    --main-orange: #FD971F;

    /* Color "seashell" is also used */
    --dogegreen: #87D747;
    --dogedarkgreen: #6BB233;
    --headerblack: #222;
    --backgroundgray: #272822;
    --backgroundbright: #3E3D32;
}

/* ---------------------------------------- General CSS ---------------------------------------- */

/* Set body main colors */
body {
    background: var(--backgroundgray);
    padding-top: 50px;
    padding-bottom: 20px;
    color: seashell;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}

/* Change the main font to something prettier */
/* It's a font from google, declared in the index frontpage */
.ubuntu-font, .navbar, footer, button, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}


/* ---------------------------------------- _Layout ---------------------------------------- */

/* Fix the position of the websites logo */
.doge-logo {
    float: left;
    height: 50px;
    padding: 8px 14px 8px 8px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set footer that is always on the bottom of the page */
footer {
    padding: 0;
    background: var(--headerblack);
}

/* Sets the text in footer to the right */
footer p {
    display: flex;
    justify-content: flex-end;
    margin: 4px 0;
    padding: 2px 15px;
    color: #9d9d9d;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* fixing because bootstrap set it to -15px for some reason */
.navbar-right {
    margin-right: 0;
}


/* ---------------------------------------- Frontpage ---------------------------------------- */

/* h1 and p following them are centered, mostly for the frontpage */
h1, h1 + p {
    text-align: center;
}

/* Creates a banner spanning the whole width of the site */
.banner {
    margin: 0 calc(50% - 50vw);
    margin-top: 20px;
    height: 120px;
    text-align: center;
    background-image: url("/Images/bg.png");
    background-repeat: repeat;
    border-top: 1px solid var(--headerblack);
    border-bottom: 1px solid var(--headerblack);
}

.signup-button
{
    height: 70px;
    width: 200px;
    border-radius: 4px;
    font-size: 30px;
    color: var(--backgroundgray);
    background-color: var(--dogegreen);
    border-color: black;
    margin-top: 22px;
}

.signup-button:active
{
    background-color: var(--dogedarkgreen);
}

/* ---------------------------------------- Forms ---------------------------------------- */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Used for most forms, makes the small window around the form */
.form-container {
    margin: 30px auto;
    padding: 25px 50px;
    display: table;
    min-width: 335px;
    background-color: var(--light-of-gray);
    border: 2px solid var(--headerblack);
    border-radius: 25px;
    color: var(--main-hd-black);
}

/* Used for submit buttons, to center them */
/* remove "<div class="col-md-offset-2 col-md-10">" around the button */
.form-group input[type=submit] {
    width: 150px;
    height: 50px;
    margin-top: 60px;
    display: table;
    margin: auto;
}

@media (min-width: 768px) {
    .control-label {
        width: auto;
    }
}

@media (min-width: 992px) {
    .control-label {
        width: auto;
    }
}

/* Sets all link within forms to black with underscore */
.form-container a {
    color: var(--headerblack);
    text-decoration: underline;
    display: block;
    text-align: center;
}


/* ---------------------------------------- Editor ---------------------------------------- */

#home-editor {
    display:inline-block;
    display: flex;
    justify-content: center;
    bottom: 12px;
    margin: 30px auto 10px auto;
    width: 70%;
    min-width: 200px;
    height: 300px;
    min-height: 100px;
    border: 2px solid var(--headerblack);
}


#editor {
    height: 100%;
    min-height: 10px;
}


/* ---------------------------------------- _ProjectsNav ---------------------------------------- */

/* Creates the Account and Projects menu */
.top-nav {
    display: table;
    margin: 0 auto 10px auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: var(--backgroundbright);
}

ul.top-nav .active {
    background-color: var(--dogedarkgreen);
    border-radius: 0 0 5px 5px;
}

ul.top-nav li {
    float: left;
}

ul.top-nav li a {
    color: seashell;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


